<main>
    <header>
        <img class="logo" src="../../assets/dairytech-removebg-preview (1).png" alt="">
    </header>

    <section>
        <div class="left-div">
            <h1>Selecione o tipo de leite</h1>
            <div class="flexWrap-div">
                <div [style.background-color]="card.colorCard" class="card" *ngFor="let card of milkOptions">

                    <h1 [style.background-color]="card.colorName" class="name">
                        {{card.name}}
                    </h1>

                    <img class="milk-img" src="{{card.urlImage}}" alt="">

                    <div class="liters-and-name-div">
                        <p>{{card.liters}} LITROS</p>
                        <p>FABRICAÇÃO: {{card.fabrication}}</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="btn-div">
                <button>
                    INICIAR PROCESSO
                </button>

                <p>
                    395 CAIXAS PARA SEREM FEITAS
                </p>
            </div>
        </div>
    </section>
</main>