<main>
    <header>
        <img class="logo" src="../../assets/dairytech-removebg-preview (1).png" alt="">
    </header>

    <section>
        <div class="left-div">
            <h1>Selecione o tipo de leite</h1>
            <div class="flexWrap-div">
                <div [style.background-color]="card.colorCard" (click)="changeSelected(card)" [ngClass]="card.selected == false ? 'card' : 'cardSelected'" *ngFor="let card of milkOptions">

                    <h1 [style.background-color]="card.colorName" class="name">
                        {{card.name}}
                    </h1>

                    <img class="milk-img" src="{{card.urlImage}}" alt="">

                    <div class="liters-and-name-div">
                        <p>{{card.liters}} LITROS DISPONÍVEIS</p>
                        <p>ORDENHA: {{card.fabrication}}</p>
                        <p>ORIGEM: {{card.origem}}</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="btn-div">
                <button (click)="iniciarProcesso()" [disabled]="hasLitters()" [ngStyle]="{opacity: hasLitters() ? '0.5' : '1'}">
                    INICIAR PROCESSO
                </button>
            </div>
        </div>
    </section>
</main>