<section class="screen">
    <div [routerLink]="'/select-milk'" class="h3-div">
        <img src="\assets\dairytech-removebg-preview (1) 2.png">
    </div>
    <div style="height:20%">
        <h1 *ngIf="production">EM PRODUÇÃO</h1>
        <h1 *ngIf="!production">PRODUÇÃO FINALIZADA</h1>
    </div>

    <div class="content">
        <div style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
            <div class="milk-div">
                <div class="milk-type">
                    <h2>{{process.tipo}}</h2>
                </div>
                <div class="quantity">
                    <h4>{{process.quantidadeFinal}} LITROS</h4>
                    <h4>DATA DE FABRICAÇÃO: {{dataOrdenha}}</h4>
                    <h4>ORIGEM: </h4>
                </div>
            </div>
            <h3 style="padding-top: 15px;" *ngIf="production">{{process.quantidadeEnvasada}} CAIXAS / {{process.quantidadeFinal}} CAIXAS</h3>
            <h3 style="padding-top: 15px;" *ngIf="!production">150 CAIXAS / 150 CAIXAS</h3>

        </div>
        <div class="button-div" *ngIf="production">
            <img style="width:300px; height:auto" src="\assets\13-54-26-419_512.webp" >
        </div>
        <div class="button-div" *ngIf="!production">
            <p *ngIf="!production">TEMPO TOTAL GASTO</p>
            <h4>13:56</h4>
            <button (click)="changePage()" *ngIf="!production">
                ENVIAR DADOS
            </button>
        </div>
    </div>

</section>